%h1{style: 'display: inline;'}= @player.titleize
%ul#navigation{style: 'display: inline;'}
  %h2{style: 'display: inline;'}
    %li#wins= link_to "Wins", "#"
    %li#all-matches= link_to "All Matches", "#"
    %li#losses= link_to "Losses", "#"
#all-matches-content.content
  - @player.matches.each do |match|
    %p= display_match match
#wins-content.content
  - @player.wins.each do |match|
    %p= display_match match
#losses-content.content
  - @player.losses.each do |match|
    %p= display_match match
    
    
:javascript
  $(function() {
    $('#wins').click(function() {
      $('.content').hide()
      $('li').removeClass("selected")
      $('#wins-content').show()
      $('#wins').addClass("selected");
    })
    $('#losses').click(function() {
      $('.content').hide()
      $('li').removeClass("selected")
      $('#losses-content').show()
      $('#losses').addClass("selected");
    })
    $('#all-matches').click(function() {
      $('.content').hide()
      $('li').removeClass("selected")
      $('#all-matches-content').show().addClass("")
      $('#all-matches').addClass("selected");
    })
    
    $('#all-matches').trigger('click');
  });